.pc .desktop {
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000 url('./wallpaper2.jpg') center center / cover no-repeat;
  overflow: hidden;
  position: absolute;
}

.pc .desktop::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
